body {
    background-color: rgb(250, 240, 255);
}

header {
    background-color: rgb(255, 170, 191);
}

#vacationImg {
    height: 396px;
    width: auto;
}

.card {
    height: 369px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(249, 205, 216);

}

.currentDate {
    height: 275px;
    box-shadow: 0 8px 16px 0 rgb(94, 189, 240);
}
